body {
	 width: 80%;
          margin: 10%;
          background-image:url("/pic/old_moon.png");
      }

     a{
     text-decoration:none;
      }
      
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 20px;
}
div {
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 60px;
}
select {
margin-right: 80px;
}
