body {
	 width: 70%;
          margin: 20%;
          background-image:url("/pic/old_moon.png");
      }

     a{
     text-decoration:none;
      }
      
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
