 body {
	 width: 90%;
          margin: 10%;
          background-image:url("/pic/old_moon.png");
      }

     a{
     text-decoration:none;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 60%;
      }
      th, td {
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#tdl{
text-align:center;
}
#tag{
text-align:left;
}
